@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #FF4E50;
}
// -----------HEADER-----------
header{
    position: fixed;
    background-color: white;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 1px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-weight: bolder;
    font-size: 20px;
    color: red;
}


header .navbar{
    margin-right: 670px; 
}
header .navbar ul{
    //pantanggal ng tuldok
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: black;
    display: block;
    transition: background 0.5s, transform 0.5s;
}
header .navbar ul li a:hover{
    background: #fafafa;
}
header .navbar ul li i{
    font-size: 10px;
}



//para sa mga dropdown
header .navbar ul li ul{
    position: absolute;
    left: 0;    
    width: 200px;
    background: #fafafa;
    //para mahide yung nasa ilalim
    display: none;
}
// para sa list
header .navbar ul li ul li {
    top: 1px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
//para sa laman pa sa loob
header .navbar ul li ul li ul {
    left: 170px;
    top: 0;
    bottom: 50;
}
header .navbar ul li:focus-within > ul,
// para makita naman yung mga nasa ilalim
header .navbar ul li:hover > ul{
  display: initial;
}
// ------------MENUBAR----------
#menu-bar {
    display: none;
  }
header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}   
.logo2{
    display: none;
}

// ----------------------BANNER--------------------
.banner{
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    height: 35vh;
}
.column{
  width: 50%;
  float:left;
  padding: 10px;
}
.column img{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -40px auto;
}
.column .logo1{
  display: none;
}
.banner p{
    color: WHITE;
    font-size: 50px;
    margin-top: 10px;
    font-weight: bold;
  }
//para sa Hi
.banner h1 {
  font-size: 45px; 
  color: white;
  margin-top: -20px;
}
//para sa kulay ni Edrick
.banner h1 span {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}
.banner h2{
  position: absolute;
  font-size: 16px;
  float: right;
  color: white; 
  margin-left: 50px;
 //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}



.banner:after{
    content: '';
    display: table;
    clear: both;
}

.fadeIn {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// -------------------------------SEC AND TREASURER----------------------------
.organization{
    margin-top: 370px;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .title-1{
    margin: 30px;
    padding: 5px;
  }
  .title-1 h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  .title-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
    text-transform: none;
  }

.profile{
    height: 90vh;
  }

  .profile-2{
    height: 170vh;
  }
  .profile-3{
    height: 120vh
  }
  .profile-ethics{
    height: 100vh;
  }
  .profile-credit{
    height: 170vh;
  }
  .profile-5{
    height: 120vh;
  }
  .center{
    margin-top: -90px;
    margin-left: 580px;
    margin-right: auto;
  }
  .below{
    margin-top: -600px;
    margin-left: 500px;
    margin-right: auto;
  }
  .profile .container{
    height: 80vh;
    width: 100%;
    max-width: 1280px;
    // min-height: 600px;
    // min-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px auto;
  }
  .profile i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
  }
  .fa-arrow-left{
    margin-top: 300px;
  }
  .sec{
    margin: 0 500px;
  }
  .card{
    margin-bottom: 50px;
    height: 379px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: url('../../assets/images/bgp.jpg');
    background-size: 350px;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: white 2px solid;
  }
  .card-1{
    margin-right: 280px;
  }
  .card-2{
    margin-left: 280px;
  }
  .card1{
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 150px;
    height: 379px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: url(/assets/images/bgp.jpg);
    background-size: 350px;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: white 2px solid;
  }
  .card h2, .card1 h2{
    bottom: 0px;
    position: absolute;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: red;
    margin: 20px;
    z-index: 5;
  }
  .card p, .card1 p{
    bottom: -15px;
    position: absolute;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    margin: 20px;
    z-index: 5;
  }
  .card img, .card1 img{
    z-index: 1;
    padding-right: 50px;
  }
  
  
  




// -------------------------FOOTER----------------------
.footer{
  position: absolute;
  height: auto;
  width: 100%;
  color: black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.footer-head{
  height: 70px;
  background: white;
}
.footer-head ul{
  list-style: none;
}
.footer-head ul li{
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  left: 0; 
}
.footer-head ul li span{
  font-weight: bold;
}
.footer{
  background: #f7f7f7;
}
.footer-left p i{
  margin-right: 10px;
}
.footer-right img{
  float: left;
  height: 120px;
  width: 120px;
  margin-top: 5px;
  margin-right: 20px;
}
.footer-left{
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 240px;
}
.footer-left p{
  font-size: 15px;
}

@media(max-width:900px){
  html,body{
    overflow-x: hidden;
}
  header{
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
  //para makita yung menu
  header label{
    display: initial;
  }
  header .logo{
    display: none;
  }
  header .logo2{
    display: flex;
    height: 80px;
    width: fit-content;
  }
  header .navbar{
    position: absolute;
    background-color: white;
    top: 100%;
    margin-right: 0px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    //para hindi makita
    display: none;
  }
  header .navbar ul li{
    width: 100%;
  }
  header .navbar ul li ul{
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li ul{
    width: 100%;
    left: 0;

  }
  #menu-bar:checked ~ .navbar{
    display: initial;
    transform: rotateX(180);
  }
  // --------------------BANNER--------------------
  .banner{
    width: 100%;
    height: 47vh;
    text-align: center;
}
.column{
  width: 100%;
  display: relative;
}
.column .logo{
  display: none;
}
.column .logo1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.column img{
    height: 250px;
    margin: 0 35px;
}
.banner p{
  margin-top: 10px;
  font-size: 20px;
}
.banner h1 {
  font-size: 25px;
  margin-top: 2px;
}
.banner h2{
  margin-top: 9px;
  position: absolute;
  font-size: 11px;
  float: right; 
  margin-left: -10px;
}



// ---------------------SEC AND TREASURER-----------------------------
.profile{
    height: 150vh;
  }
  .profile-2{
    height: 580vh;
  }
  .profile-3{
    height: 300vh
  }

  .title-1{
    margin: 30px auto;
    padding: 0;
  }
  .center{
    margin: -200px auto;
    height: 120vh;
  }
.profile .container{
    height: 120vh;
    width: 100%;
    margin: 0 50px;
  }
  .profile-sec{
    margin-bottom: 0;
  }
  .profile-sec .container{
    height: 120vh;
    margin: 0 50px;
  }
  .card{
    margin-top: -20px;
  }
  .card-1{
    top: -550px;
   margin-right: 0px;
  }
  .card-2{
    top: -150px;
    margin-left: 0px;
  }
  .card-3{
    margin-top: -60px;
  }


// -------------------FOOTER------------------

.footer-right img{
  height: 250px;
  width: 250px;
  margin-left: 60px;
  margin-right: 150px;
  margin-bottom: 10px;
}
.footer-left i, .hidden{
  display: none;
}
.footer-left{
  margin-top: -20px;
  padding-left: 20px;
  margin-left: -10px;  
}
.footer-left p{
  font-size: 15px;

}

}





