@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #FF4E50;
}
// -----------HEADER-----------
header{
    position: fixed;
    background-color: white;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 1px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-weight: bolder;
    font-size: 20px;
    color: red;
}


header .navbar{
    margin-right: 670px; 
}
header .navbar ul{
    //pantanggal ng tuldok
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: black;
    display: block;
    transition: background 0.5s, transform 0.5s;
}
header .navbar ul li a:hover{
    background: #fafafa;
}
header .navbar ul li i{
    font-size: 10px;
}



//para sa mga dropdown
header .navbar ul li ul{
    position: absolute;
    left: 0;    
    width: 200px;
    background: #fafafa;
    //para mahide yung nasa ilalim
    display: none;
}
// para sa list
header .navbar ul li ul li {
    top: 1px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
//para sa laman pa sa loob
header .navbar ul li ul li ul {
    left: 170px;
    top: 0;
    bottom: 50;
}
header .navbar ul li:focus-within > ul,
// para makita naman yung mga nasa ilalim
header .navbar ul li:hover > ul{
  display: initial;
}
// ------------MENUBAR----------
#menu-bar {
    display: none;
  }
header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}   
.logo2{
    display: none;
}

// ----------------------BANNER--------------------
.banner{
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    height: 35vh;
}
.column{
  width: 50%;
  float:left;
  padding: 10px;
}
.column img{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -40px auto;
}
.column .logo1{
  display: none;
}
.banner p{
    color: WHITE;
    font-size: 50px;
    margin-top: 10px;
    font-weight: bold;
  }
//para sa Hi
.banner h1 {
  font-size: 45px; 
  color: white;
  margin-top: -20px;
}
//para sa kulay ni Edrick
.banner h1 span {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}
.banner h2{
  position: absolute;
  font-size: 16px;
  float: right;
  color: white; 
  margin-left: 50px;
 //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}



.banner:after{
    content: '';
    display: table;
    clear: both;
}

.fadeIn {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// ------------------------HEADERFOOTER----------------------

.main-head{
  height: 52px;
  background: white;
}
.main-head ul{

  list-style: none;
}
.main-head ul li{
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  /* Move the element to the right by 50% of the container's width */
  left: 36%; 
  /* Calculates 50% of the element's width, and moves it by that */ 
  /* amount across the X-axis to the left */
}
.main-head ul li span{
  font-weight: bold;
}

hr{
  width: 80%;
  margin: 8px auto;
}

// -------------------------------LIST OF SERVICES----------------------------
    .permanent{
        background: white;
        margin: 0;
    }
    table{
        font-family: sans-serif;
        border-collapse: collapse;
        margin: 0 190px;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      }
      h2{
        font-size: 50px;
        text-align: center; 
      }  
      h3{
        font-size: 15px;
        text-align: center;
      }
      th{
        background-color: #333;
        color: #fff;
      }
      td a{
        color: #333;
      }
      th, td{
        padding: .8rem;
        font-size: 1.4rem;
        
      }
      tbody{
        background-color: #eee;
        color: #555;
        
      }


// ----------------Services----------------------
.services {
  padding: 50px;
  background: white;
}
.services .container{
  margin: 50px;
}
.services .container .title {
  text-align: center;
}


.services .container .title h1{
  font-size: 70px;
}
.services .container .title p {
  font-size: 17px;
}
.services .content{
  margin-top: 20px;
}
.services .content video{
  height: 500px;
  width: auto;
  display: block;
  margin: auto;
}
.services .content h4{
  font-size: 25px;
  margin-left: 100px;
}
.services .content .letters{
  list-style: lower-alpha;
  margin-left: 150px;
  margin-right: 60px;
}
.services .content .letters li{
  margin-left: 20px;
}
.services .content .triple{
  list-style: lower-roman;
}
.services .content ul {
  margin-left: 150px;
  margin-bottom: 40px;
  list-style: decimal;
}
.services .content ul li{
  margin-top: 10px;
  font-size: 17px;
}
.services .content .others{
  list-style: none;
}
.services .content .migs{
  list-style: none;
}
.services .content .roman{
  list-style: lower-alpha;
  margin-bottom: 0;
}
.services .content p{
  margin-left: 150px;
}
// -------------------------FOOTER----------------------
.footer{
  position: absolute;
  height: auto;
  width: 100%;
  color: black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.footer-head{
  height: 70px;
  background: white;
}
.footer-head ul{
  list-style: none;
}
.footer-head ul li{
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  left: 0; 
}
.footer-head ul li span{
  font-weight: bold;
}
.footer{
  background: #f7f7f7;
}
.footer-left p i{
  margin-right: 10px;
}
.footer-right img{
  float: left;
  height: 120px;
  width: 120px;
  margin-top: 5px;
  margin-right: 20px;
}
.footer-left{
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 240px;
}
.footer-left p{
  font-size: 15px;
}

@media(max-width:900px){
  html,body{
    overflow-x: hidden;
}
  header{
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
  //para makita yung menu
  header label{
    display: initial;
  }
  header .logo{
    display: none;
  }
  header .logo2{
    display: flex;
    height: 80px;
    width: fit-content;
  }
  header .navbar{
    position: absolute;
    background-color: white;
    top: 100%;
    margin-right: 0px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    //para hindi makita
    display: none;
  }
  header .navbar ul li{
    width: 100%;
  }
  header .navbar ul li ul{
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li ul{
    width: 100%;
    left: 0;

  }
  #menu-bar:checked ~ .navbar{
    display: initial;
    transform: rotateX(180);
  }
  // --------------------BANNER--------------------
  .banner{
    width: 100%;
    height: 73vh;
    text-align: center;
}
.column{
  width: 100%;
  display: relative;
}
.column .logo{
  display: none;
}
.column .logo1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.column img{
    height: 250px;
    margin: 0 35px;
}
.banner p{
  margin-top: 10px;
  font-size: 20px;
}
.banner h1 {
  font-size: 25px;
  margin-top: 2px;
}
.banner h2{
  margin-top: 9px;
  position: absolute;
  font-size: 11px;
  float: right; 
  margin-left: -10px;
}
// ------------------------HEADERFOOTER----------------------
.main-head{

height: 50px;
background: white;
}
.main-head ul{
list-style: none;
}
.main-head ul li{
left: 0;
font-size: 13px;
margin-top: 20px;
}


// ---------------------SERVICES-----------------------------

table{
    margin: 0px;
    width: 100%;
}

thead{
    display: none;
    margin: 5px;
  }

  td{
    display: block;
    font-size: 16px;
  }

  td:first-child{
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 30px;
  }
  
  td:nth-child(2)::before{
    content: "MIN. REQ. SHARE CAPITAL";
    font-size: 12px;
  }

  td:nth-child(3)::before{
    content: "MAX AMOUNT OF LOAN";
    font-size: 12px;
  }

  td:nth-child(4)::before{
    content: "LENGTH OF MEMBERSHIP";
    font-size: 12px;
  }

  td:nth-child(5)::before{
    content: "TERM OF LOAN";
    font-size: 12px;
  }

  td{
    text-align: right;
  }
  td a{
    color: white;
  }
  td::before{
    float: left;
    margin-right: 3rem;
    font-weight: bold;
  }


  // ----------------Services----------------------
.services {
  padding: 10px;
}
.services .container{
  margin: 0px;
}

.services .container .title h1{
  font-size: 45px;
}
.services .content{
  margin-top: 20px;
}
.services .content video{
  height: 350px;
  width: 350px;
}
.services .content h4{
  margin-left: 20px;
}
.services .content .letters{
  list-style: lower-alpha;
  margin-left: 40px;
  margin-right: 60px;
}
.services .content .letters li{
  margin-left: 20px;
}
.services .content ul {
  margin-left: 50px;
}
.services .content ul li{
  margin-top: 10px;
  font-size: 17px;
}
.services .content p{
  margin-left: 20px;
}
.letters .others img{
  height: 100px;
  margin-left: -90px;
}
.others li img{
  height: 110px;
  margin-left: -90px;
}
.others img{
  height: 120px;
  margin-left: -80px;
}
.migs img{
  height: 100px;
  margin-top: 10px;
  margin-left: -80px;
}



// -------------------FOOTER------------------

.footer-right img{
  height: 250px;
  width: 250px;
  margin-left: 60px;
  margin-right: 150px;
  margin-bottom: 10px;
}
.footer-left i, .hidden{
  display: none;
}
.footer-left{
  margin-top: -20px;
  padding-left: 20px;
  margin-left: -10px;  
}
.footer-left p{
  font-size: 15px;

}

}





